body{
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
   font-size: 16px;
   margin: 0;
   padding: 0;
   background-color: #fff;
   position: relative;
   word-wrap: break-word;
   -ms-text-size-adjust: none;
   overflow-y: scroll;
   visibility: visible;
}
button{
   font-family: inherit;
   outline: 0;
   background-image: none; /* Override FxOS's gradient bg */
}
pre{
   word-wrap: normal;
}
pre, code{
   font-family: Menlo, Monaco, Inconsolata, Consolas, "Lucida Console", monospace;
   font-size: 12px;
}

#outdated-browser{
   background-color: #fff;
   text-align: center;
   padding: 1em;
   margin: 0;
}
#outdated-browser p{
   margin: 0;
   padding: 0;
   line-height: 1.5em;
}

.icon-refresh{
   display: inline-block;
   width: 14px;
   height: 18px;
   background: transparent url(../images/web/refresh-icon.svg) no-repeat;
   background-size: 14px 18px;
   vertical-align: middle;
   overflow: hidden;
   text-indent: -999px;
}

.view{
   position: relative;
   margin: 0 auto;
   padding-bottom: 1px;
   overflow: hidden;
}
.view.hidden{
   display: none;
}
.view>header{
   border-bottom: 1px solid #ddd;
   background-color: rgba(255,255,255,.95);
   height: 44px;
   color: #333;
   z-index: 3;
   display: flex;
   justify-content: space-between;
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
}
header ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
}
a {
   color: #FFA000;
}
header ul li a {
   line-height: 22px!important;
   padding: 11px;
   text-decoration: none;
}
header ul li a:hover {
   background-color: #F6F6EF;
}

.view>header h1{
   cursor: default;
   padding: 0;
   text-align: center;
   font-size: 1em;
   font-weight: normal;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   word-wrap: normal;
}
.view>.scroll{
   overflow: hidden;
   min-height: 9vh;
   margin-top: 44px;
}
.view.shaded>.scroll{
   background-color: #F6F6EF;
}
.view.shaded>.scroll p.foot-label{
   margin: 15px 10px;
   font-size: 13px;
   line-height: 1.4em;
   color: #4c566c;
   text-align: center;
}
.view>.scroll .loader,
.view>.scroll .load-error{
   font-size: 14px;
   color: #666;
   text-align: center;
   padding: 50px 0;
}
.view>.scroll .load-error button{
   border: 0;
   height: 30px;
   line-height: 30px;
   cursor: pointer;
   padding: 0 20px;
   font-weight: 500;
   color: #666;
   margin: 6px auto 4px;
   background-color: #f0f0ea;
   border-radius: 2px;
}
.view>.scroll .load-error button:hover{
   background-color: #e0e0da;
}
.view>.scroll .load-error button:active{
   background-color: #c8c8c8;
}
.tableview{
   margin: 0;
   padding: 0;
   list-style: none;
   background-color: #fff;
}
.tableview li, .paging, footer{
   display: block;
   border-bottom: 1px solid #e0e0e0;
   padding: 10px;
}
.tableview-links li{
   padding: 10px 15px;
   position: relative;
}
.tableview-links li a.detail-disclosure{
   line-height: 1.2em;
   color: #000;
   display: block;
   padding: 0;
   text-decoration: none;
}
.tableview-links li a:visited{
   color: #888;
}
.tableview-links li:hover{
   background-color: #F6F6EF;
}
.tableview-links li.private {
   background-color: #FFEBEE;
}
.tableview-links li .story strong{
   font-weight: normal;
   display: block;
}
.tableview-links li .metadata{
   display: block;
   font-size: 14px;
   color: #666d74;
   padding-top: 8px;
}
.tableview-links li .metadata .linkdescription .markdown p {
   margin: 0.5em 0;
}
.tableview-links li .metadata .inline-block {
   font-size: 12px;
}
.tableview-links li .metadata .linkdate {
   font-style: italic;
}
.tableview-links li .metadata .inline-block:not(:last-of-type):after,
.tableview-links li .metadata .linktaglist .linktag:not(:last-of-type):after {
   content:' · ';
}
.tableview-links li .metadata .inline-block img {
   vertical-align: top;
}
.tableview-links li a:hover .link-text{
   text-decoration: underline;
}
.tableview-links li .metadata .linktaglist {
   padding: 5px 0px;
}
.tableview-links li .metadata .linktaglist .linktag a {
   color: #00897B;
   font-style: italic;
   text-decoration: none;
}
.tableview-links li .metadata .linktaglist .linktag a:hover {
   text-decoration: underline;
   color: #00695C;
}
.tableview-links li .detail-disclosure{
   padding-right: 44px;
}
.tableview-links li .detail-disclosure-button{
   position: absolute;
   top: 0;
   right: 0;
   padding: 0;
   z-index: 2;
   width: 44px;
   height: 100%;
   text-align: center;
   vertical-align: middle;
}
.tableview-links li .detail-disclosure-button span{
   display: inline-block;
   width: 17px;
   height: 17px;
   background: transparent url(../images/web/comments-icon.svg) no-repeat;
   background-size: 17px 17px;
   margin: 15px 0;
}
.tableview-links li .detail-disclosure-button:active span{
   opacity: .5;
}
.tableview-links li .more-link{
   color: #007aff;
   cursor: pointer;
   line-height: 3em;
   padding: 10px;
   display: block;
   text-align: center;
}
.tableview-links li .more-link:active{
   opacity: .5;
}
.paging {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 14px;
}
.paging a {
   color: #FFC107;
   text-decoration: none;
}
.paging a:hover {
   color: #FFA000;
}
.paging_state span {
   margin: 0 7px;
}
.paging_filter {
   text-align: right;
}
.paging_filter span {
   display: block;
}

footer {
   padding: 20px;
   display: flex;
   justify-content: space-between;
   font-size: 14px;
}

footer a {
   text-decoration: none;
}
footer a:hover {
   text-decoration: underline;
}
.view .post-content{
   min-height: 4em;
   overflow: hidden;
}
.view .post-content header{
   padding: 10px 15px;
   line-height: 1.2em;
}
.view .post-content header h1,
.view .post-content header p{
   font-size: 1em;
   margin: 0;
   padding: 0;
}
.view .post-content header a{
   display: block;
   text-decoration: none;
}
.view .post-content header h1{
   color: #000;
   font-weight: normal;
   font-size: 1em;
}
.view .post-content header .link-text{
   font-size: 14px;
}
.view .post-content header .metadata{
   font-size: 14px;
   color: #666d74;
}
.view .post-content header .metadata a.external-link{
   color: #666d74;
   text-decoration: none;
   display: block;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   padding-left: 16px;
   background: transparent url(../images/web/external-arrow.svg) no-repeat 0 50%;
   background-size: 12px 10px;
}
.view .post-content header .metadata a.external-link:hover{
   color: #007aff;
}
.view .post-content header + .grouped-tableview{
   margin-top: 0;
}
.view .post-content pre{
   margin: 0 0 8px;
   overflow: auto;
   padding: .65em 0;
   background-color: #F6F6EF;
   border-radius: 2px;
}

.link-text{
   color: #003d80;
   font-weight: normal;
   font-size: 14px;
   display: block;
}
.inline-block{
   display: inline-block;
}

/* For modern browsers */
.cf:before,
.cf:after {
   content:"";
   display:table;
}

.cf:after {
   clear:both;
}


@-ms-viewport{
   width: device-width;
   zoom: 1.0;
}

@viewport{
   width: device-width;
   zoom: 1.0;
}
@media only screen and (max-width: 400px){
   .nomobile {
      display: none;
   }
}
@media only screen and (min-width: 788px){
   body{
      background-color: #fafafa;
   }
   .view{
      background-color: #fff;
      max-width: 700px;
      box-shadow: 0 0 1px #aaa;
   }
   .view>header{
      position: static;
   }
   .view>.scroll{
      margin-top: 0;
   }
}

